.profileAvatar {
    background-color: #332e3c;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin: 20px;
}

.profileCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 15px;
    width: 700px;
    height: 750px;
    background-color: rgb(251, 251, 255);
}

.profileName {
    font-size: 60px;
    font-weight: 700;
    color: black;
    letter-spacing: 0;
}

.amount {
    font-weight: 750;
}

.title {
    letter-spacing: 2px
}

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.statsElement {
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
    height: 180px;
    border-top: 5px solid rgb(141, 141, 144);
    background-color:rgb(203, 203, 209);
    justify-content: center;
    
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftElem {
    border-bottom-left-radius: 15px;
}

.rightElem {
    border-bottom-right-radius: 15px;
}

.centerElem {
    border-left: 5px solid rgb(141, 141, 144);
    border-right: 5px solid rgb(141, 141, 144);
}